header{
    display: flex;
}

#logo {
    width:300px;
    height:300px;
}

#banner{
    width: 1183px;
    height: 296px;
}

body{
    background-image: url('pda.jpg');
    background-size: 100%;
    background-position: center;
}

#navegation{
    background-color: yellow;
    list-style: none;
    font-size: 20px; 
    color: red;
    margin: 1px;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    transition: background .900s;

}

nav a:hover{
    background-color:#ecb910;
    /* border-style: double; */
    font-size:20px;
}

.text{
    color: red;
    font-family: ;
}

#welcome{
    font-size: 50px;
    text-align: center;
}

#vindo{
    font-size: 40px;
    text-align:center;
}

#menu{
    font-size: 30px;
    text-align: left;
}
#somos{
    font-size: 25px;
    text-align: center;
}

#base {
    text-allign: justify;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 10px;
    border-style:double;
    border-width: 10px;
    border-color: yellow;
}